mat-toolbar {
  border-radius: 3px;
  background-color: rgb(66, 66, 66);
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.icon:hover,
.icon:active {
  color: lightgray;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}