@import "~@angular/material/prebuilt-themes/purple-green.css";
html,
body,
head {
  margin: 0%;
  height: 100%;
  background-color: black;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(66, 66, 66);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}